* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-principal);
    line-height: 1.6;
    color: var(--color-oscuro);
    scroll-behavior: smooth;
}
