table {
    width: 100%;
    border: 1px;
    background-color: #bcd7ff;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #a7d0ff;}
  
  th {
    background-color: #2c76ca;
    color: rgb(255, 255, 255);
    text-align: center;
  }

  tr:hover {
    background-color: #ffff99;

}

